#title-text {
	color: black;
	position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    FONT-SIZE: 1.8em;
    font: SimSun, Arial, Verdana, Helvetica, sans-serif;
}

.centeredImage
{
 	text-align:center;
 	margin-top:0px;
 	margin-bottom:0px;
 	padding:0px;
 }

.qingsuanBody {
	font: 16px SimSun, Arial, Verdana, Helvetica, sans-serif;
	FONT-SIZE: 1.4em;
 	COLOR: #000000;
 	LINE-HEIGHT: 140%; 
 	TEXT-DECORATION: none;
 }

.introBody {
	font: 16px SimSun, Arial, Verdana, Helvetica, sans-serif;
	FONT-SIZE: 1.2em;
 	COLOR: #000000;
 	LINE-HEIGHT: 100%; 
 	TEXT-DECORATION: none;
 }

.articlesListBody {
	font: 16px SimSun, Arial, Verdana, Helvetica, sans-serif;
	FONT-SIZE: 1.4em;
 	COLOR: #000000;
 	LINE-HEIGHT: 80%; 
 	TEXT-DECORATION: none;
 }